.btn {
    background-color: #222;
    color: #FFF;
    padding: 0.7em 1.2em;
    text-decoration: none;
    transform: 0.5;
    cursor: pointer;
    border: none;
}

.btn:hover{
    color: #FFBB33;
}